
Evaluation/MedEvalKit/


Evaluation/Baseline/Chroma/

Evaluation/Chroma/


model/log/
model/eval_results/
model/eval_result/


RAG/RAGDataSet

.idea/
**.Identifier
**.Zone.Identifier
**.ipynb:Zone.Identifier
*Zone.Identifier
*Zone.Identifier*
**/*.pyc
*-checkpoint.py

